
/*font-family:Abel*/
@font-face {
    font-family: Abel;
    src: url(../Fonts/Abel/Abel-Regular.ttf);
}

/*font-family:Abel*/
@font-face {
    font-family: LexendDeca;
    src: url(../Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}